<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendance">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <!-- <activity android:name=".HomeActivity" /> -->
        <activity android:name=".TableActivity" />
        <activity android:name=".AttendHomeActivity" />
        <activity android:name=".GuideTableActivity" />
        <activity android:name=".StudentMsgActivity" />
        <activity
            android:name=".AttendanceActivity"
            android:label="考勤记录"
            android:theme="@style/AttendanceActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".QrCodeActivity" />
        <activity android:name=".GradeStudentActivity"></activity>
    </application>

</manifest>