<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendance">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />

        <activity android:name=".HomeActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".TableActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".AttendHomeActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".GuideTableActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".StudentMsgActivity"
            android:theme="@style/NoActionBar"/>

        <activity
            android:name=".AttendanceActivity"
            android:theme="@style/NoActionBar" />

        <activity android:name=".ReportActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".QrCodeActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".GradeStudentActivity"
            android:theme="@style/NoActionBar"/>

        <service
            android:name=".service.PollingService"
            android:enabled="true"
            android:exported="true">
        </service>

    </application>

</manifest>